<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DandD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="css/style.css">
  </head>
  <body link="white" vlink="white">
    <div class="imgcontainersign">
      <img src="logo.png" alt="Avatar" class="avatar"><br><b>REGISTRATION</b>
    </div>
    <form>
      <div class="containersign">
          <input type="text" name="username" placeholder="Enter a username" required><br>
          <input type="password" name="pwd" placeholder="Enter a password" required><br>
          <input type="password" name="pwd" placeholder="Enter password again" required><br>
          <button type="submit">Sign up</button>
          <a class="return" href="index.html">Login</a>
        </div>
      </div>
      <script src="js/sign_in.js"></script>
    </form>
    <!-- particles.js container -->
    <div id="particles-js"></div>
    <!-- scripts -->
    <script src="../particles.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>