{% block header %}
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" media="screen" href="{{request.static_url('DandD:static/css/bootstrap4.0.0/bootstrap.min.css')}}">
    <script src="{{request.static_url('DandD:static/js/jQuery/jquery-3.3.1.slim.min.js')}}"></script>
    <script src="{{request.static_url('DandD:static/js/bootstrap4.0.0/bootstrap.min.js')}}"></script>
    <script src="{{request.static_url('DandD:static/js/popper1.12.9/popper.min.js')}}"></script>


    <link rel="stylesheet" media="screen" href="{{request.static_url('DandD:static/css/style.css')}}">
    <script src="{{request.static_url('DandD:static/css/style.css')}}"></script>


{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
{% endblock %}
